In [1]:
import numpy as np
import pandas as pd

In [2]:
#def initialize():
df = np.dtype([('empname','S20'),('empno','i8'),('empdesig','S10'),('empsalary','f8'),('empph','S10')])
data = np.loadtxt('/home/ai3/Desktop/common/Python_Exercises/emp.csv',delimiter=',',dtype=df)

In [3]:
#data = pd.read_csv('/home/ai3/Desktop/common/Python_Exercises/emp.csv', sep=',')
#data = data.as_matrix
#data

In [4]:
#def add():
aempname = raw_input()
aempno = input()
aempdesig = raw_input()
aempsalary = input()
aempph = input()
datlist = [(aempname,aempno,aempdesig,aempsalary,aempph)]
type(datlist)
aemp = np.array(datlist,dtype=df)
aemp

sdfs
12414
gg
312312
14141

array([('sdfs', 12414, 'gg',  312312., '14141')],
      dtype=[('empname', 'S20'), ('empno', '<i8'), ('empdesig', 'S10'), ('empsalary', '<f8'), ('empph', 'S10')])

In [5]:
data = np.concatenate([data,aemp],axis=0)
data

array([('K.Raj',   101, 'scientist',   50000., '(0493)-228'),
       ('Mohan Raj M.',   102, 'engineer',   50000., '[0496]-228'),
       ('M.Ram',   104, 'scientist',   80000., '(0491)-428'),
       ('Ram Kumar',   104, 'scientist',   60000., '(0491)-428'),
       ('Mohan Babu K.K.',   106, 'officer',   50000., '{0496}-238'),
       ('K.Gopal',   107, 'scientist',   50000., '(0493)-228'),
       ('Anil Raj M.',   108, 'engineer',   50000., '{0496]-228'),
       ('Amala P.',   201, 'scientist',   70000., '(0498)-928'),
       ('Uma ',   204, 'officer',   60000., '(0491)-428'),
       ('Suma',   206, 'engineer',   50000., '0496_23872'),
       ('sdfs', 12414, 'gg',  312312., '14141')],
      dtype=[('empname', 'S20'), ('empno', '<i8'), ('empdesig', 'S10'), ('empsalary', '<f8'), ('empph', 'S10')])

In [6]:
#def delete()
n = np.where(data==data[data['empno']==input('Enter employee number to fire him/her.')])
data = np.delete(data, n)
data

Enter employee number to fire him/her.204

array([('K.Raj',   101, 'scientist',   50000., '(0493)-228'),
       ('Mohan Raj M.',   102, 'engineer',   50000., '[0496]-228'),
       ('M.Ram',   104, 'scientist',   80000., '(0491)-428'),
       ('Ram Kumar',   104, 'scientist',   60000., '(0491)-428'),
       ('Mohan Babu K.K.',   106, 'officer',   50000., '{0496}-238'),
       ('K.Gopal',   107, 'scientist',   50000., '(0493)-228'),
       ('Anil Raj M.',   108, 'engineer',   50000., '{0496]-228'),
       ('Amala P.',   201, 'scientist',   70000., '(0498)-928'),
       ('Suma',   206, 'engineer',   50000., '0496_23872'),
       ('sdfs', 12414, 'gg',  312312., '14141')],
      dtype=[('empname', 'S20'), ('empno', '<i8'), ('empdesig', 'S10'), ('empsalary', '<f8'), ('empph', 'S10')])

In [12]:
#def dispname():
disp_data = input('Enter employee name/number to see her/his record.')
if type(disp_data) == str:
    print data[data['empname']==disp_data]
else:
    print data[data['empno']==disp_data]
#data[(data['empno'] data['empname'])==input('Enter employee name/number to see her/his record.')]
#date

Enter employee name/number to see her/his record.'Suma'
[('Suma', 206, 'engineer',  50000., '0496_23872')]

In [15]:
#def disp():
    print data

[('K.Raj',   101, 'scientist',   50000., '(0493)-228')
 ('Mohan Raj M.',   102, 'engineer',   50000., '[0496]-228')
 ('M.Ram',   104, 'scientist',   80000., '(0491)-428')
 ('Ram Kumar',   104, 'scientist',   60000., '(0491)-428')
 ('Mohan Babu K.K.',   106, 'officer',   50000., '{0496}-238')
 ('K.Gopal',   107, 'scientist',   50000., '(0493)-228')
 ('Anil Raj M.',   108, 'engineer',   50000., '{0496]-228')
 ('Amala P.',   201, 'scientist',   70000., '(0498)-928')
 ('Suma',   206, 'engineer',   50000., '0496_23872')
 ('sdfs', 12414, 'gg',  312312., '14141')]

In [17]:
def save():
    data.to_csv('emp_reloded.csv')

In [ ]:
def exit():
    exit()

In [ ]:
def menu():
    print 'High priority confidential record maintenance systems and Co.'
    print '1.Initialize '
    print '2. Add record?'
    print '3. Delete record?'
    print '4. Display record by name?'
    print '5. Display record in all?'
    print '6. Save all'
    print '7. Exit'
    
    loop = True
    choice = input('Enter your choice: ')

    while loop == True:
        if choice == 1:
            initialize()
        elif choice == 2:
            add()
        elif choice == 3:
            delete()
        elif choice == 4:
            dispname()
        elif choice == 5:
            disp()
        elif choice == 6:
            save()
        elif choice == 7:
            exit()
        else:
            loop = False
menu()